body {
    background-color: #910022;
    margin: 50px;
    font-family: Merriweather, serif;
}

#page {
    background-image: url("images/page.png");
    background-repeat: repeat;
    padding: 20px;
    border: 2px solid black;
    font-family: Merriweather, serif;
    width: 98%;
    /*min-width: 940px;*/

}

header {
    text-align: center;
}

h1 {
    font-weight: 700;
}

li {
    display: inline;
    padding: 50px;
    text-align: center;
    font-family: "Nunito", Arial, "sans-serif";
    
    
}


img {
    border: 4px solid black;
}

a {
    color: #FF581C;
    font-weight: 700;
}

p {
    border: 2px solid black;
    font-size: 19px;
    /*min-width: 800px;*/
    /*height: 100px;*/
    padding: 20px;
    background-color: #DBDBDB;
    display: block;
    margin: 0 auto;
    text-align: center;
}